@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://allfont.net/allfont.css?fonts=lucida-console");
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    /*To make scrollbar transparent*/
    /*overflow: overlay;*/
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html {
        scrollbar-width: none;
    }
}

.progress-container {
    width: 100%;
    height: 6px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: transparent;
}

.progress-bar {
    width: 0%;
    height: 6px;
    background-color: #8A9EC5;
}

#banner {
    padding: 200px;
    background-image: url("images/banner4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /*background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);*/
}

#banner > h1 {
    margin-top: -65px;
    font-size: 72px;
    font-weight: 300;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

#wrapper > p {
    text-align: center;
    border-right: solid 40px rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Consolas';
    font-size: 70px;
    color: rgba(255, 255, 255, 1);
    margin-top: -65px;
    animation: animated-text 1s steps(17, end) 1s 1 normal both, animated-cursor 900ms steps(17, end) infinite;
}

/* text animation */
@keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 630px;
    }
}

/* cursor animations */
@keyframes animated-cursor {
    from {
      border-right-color: rgba(255, 255, 255, 1);
    }
    to {
      border-right-color: transparent;
    }
}

h1 > img {
    height: 72px;
    padding: 0;
    margin: 0px;
    margin-bottom: -14px;
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}

#box {
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    width: 70%;
    /*text-align: center;*/
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50,50,93,.15),
                0 15px 35px rgba(50,50,93,.2),
                0 5px 15px rgba(0,0,0,.12);
    height: 100%;
}

#header {
    width: auto;
    height: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E0DFE2;
}

#terminal-window {
    /*background-color: #5A5D7A;*/
    background-color: #272B33;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#terminal-tittle {
    padding-top: 30px;
    text-align: left;
    padding-left: 30px;
    color:#f7f7f7;
    font-size: 16px;
    font-family: 'Lucida Console', arial;
}

#terminal-tittle-last {
    padding-top: 30px;
    text-align: left;
    padding-left: 30px;
    color:#f7f7f7;
    font-size: 16px;
    font-family: 'Lucida Console', arial;
    padding-bottom: 30px;
}

#terminal-info {
    padding-top: 5px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    color:#e7d184;
    font-size: 16px;
    font-family: 'Lucida Console', arial;
    line-height: 25px;
}

#terminal-links {
    padding-top: 5px;
    text-align: left;
    width: 90%;
    color:#8A9EC5;
    font-size: 16px;
    font-family: 'Lucida Console', arial;
    line-height: 25px;
    text-decoration: none;
}

#terminal-links:hover {
    filter: opacity(70%);
}

#terminal-cursor {
    height: 18px;
    padding: 0;
    margin: 0px;
    margin-bottom: -5px;
    position: relative;
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}

.red-button {
    background-color: #f96256;
    border: 1px solid #f65549;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 7px;
    margin-left: 9px;
}

.yellow-button {
    background-color: #fdbc3d;
    border: 1px solid #ffb524;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 9px;
}

.green-button {
    background-color: #33c948;
    border: 1px solid #2dbb41;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 9px;
}

#projects {
    color: #525f7f;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 50px;
}

#project-cards {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50,50,93,.15),
                0 15px 35px rgba(50,50,93,.2),
                0 5px 15px rgba(0,0,0,.12);
    margin-bottom: 70px;
    overflow: hidden;
}

#projects-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#projects-bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: grayscale(100%);
    display: none;
}

#projects-img {
    position: absolute;
    width: 40%;
    height: 100%;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#projects-img2 {
    position: absolute;
    width: 40%;
    height: 100%;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

#aurora-bg {
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    position: absolute;
    width: 40%;
    height: 100%;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

#project-content > h3 {
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 25px;
}

#project-content {
    padding: 40px;
    margin-left: 40%;
    /*position: absolute;*/
    text-align: justify;
    z-index: 1;
}

#projects-info {
    margin-bottom: 30px;
    line-height: 27px;
}

#projects-info > a {
    text-decoration: none;
    color: #718AB9;
}

#projects-info-first {
    margin-bottom: 10px;
    line-height: 27px;
}

#info-list {
    line-height: 27px;
}

#info-list-last {
    line-height: 27px;
    margin-bottom: 30px;
}

#languages {
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #92eac0;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: lighter;
    text-align: center;
}

#live-demo > a {
    margin-top: 20px;
    padding: 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),
                0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    background: #718AB9;
    color: #fff;
    width: 107px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}

#check-it > a {
    margin-top: 20px;
    margin-right: 10px;
    padding: 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),
                0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    background: #718AB9;
    color: #fff;
    width: 106px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#check-it > a:active {
    filter: opacity(80%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
}

#check-it > a:hover {
    filter: opacity(80%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
    transform: translateY(-2px);
}

#live-demo > a:active {
    filter: opacity(80%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
}

#live-demo > a:hover {
    filter: opacity(80%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
    transform: translateY(-2px);
}

a#link2 {
    margin-top: 20px;
    margin-right: 10px;
    padding: 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),
                0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #718AB9;
    width: 106px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#link2-icon {
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    filter: invert(72%) sepia(3%) saturate(6371%) hue-rotate(188deg) brightness(76%) contrast(88%);
}

#new-tab {
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    filter: brightness(0) invert(1);
}

#github {
    margin-top: 20px;
    margin-right: 10px;
    padding: 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),
                0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #718AB9;
    width: 106px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.top {
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: none;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}

footer > p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 13px;
}

#code {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

/*######################## Medium Version ##########################################*/

@media screen and (max-width: 1100px) {

    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
    @import url("https://allfont.net/allfont.css?fonts=lucida-console");
    
    * {
        margin: 0;
        padding: 0;
        /*outline: 1px solid red;*/
        font-family: 'Lato', sans-serif;
    }

    body {
        /*To make scrollbar transparent*/
        /*overflow: overlay;*/
        scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
        -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
        overflow-y: scroll;
    }
    body::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
    }
    
    @-moz-document url-prefix() { /* Disable scrollbar Firefox */
        html {
            scrollbar-width: none;
        }
    }

    .progress-container {
        display: none;
    }
    
    .progress-bar {
        display: none;
    }
    
    #banner {
        padding: 0px;
        background-image: url("images/banner4.png");
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: center;
        height: 325px;
    }
    
    #banner > h1 {
        margin-top: -65px;
        font-size: 72px;
        font-weight: 300;
    }
    
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-o-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        text-align: center;
    }
    
    #wrapper > p {
        text-align: center;
        border-right: solid 20px rgba(255, 255, 255, 1);
        white-space: nowrap;
        overflow: hidden;
        font-family: 'Consolas';
        font-size: 35px;
        color: rgba(255, 255, 255, 1);
        margin-top: 100px;
        animation: animated-text 1s steps(12, end) 1s 1 normal both, animated-cursor 900ms steps(12, end) infinite;
    }
    
    /* text animation */
    @keyframes animated-text {
        from {
          width: 0;
        }
        to {
          width: 630px;
        }
    }
    
    /* cursor animations */
    @keyframes animated-cursor {
        from {
          border-right-color: rgba(255, 255, 255, 1);
        }
        to {
          border-right-color: transparent;
        }
    }
    
    h1 > img {
        height: 72px;
        padding: 0;
        margin: 0px;
        margin-bottom: -14px;
        -webkit-animation: blink 1s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation: blink 1s;
        -moz-animation-iteration-count: infinite;
        -o-animation: blink 1s;
        -o-animation-iteration-count: infinite;
    }
    
    #box {
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        width: 90%;
        /*text-align: center;*/
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 50px 100px rgba(50,50,93,.15),
                    0 15px 35px rgba(50,50,93,.2),
                    0 5px 15px rgba(0,0,0,.12);
        height: 100%;
    }
    
    #header {
        width: auto;
        height: 28px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #E0DFE2;
    }
    
    #terminal-window {
        /*background-color: #5A5D7A;*/
        background-color: #272B33;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #terminal-tittle {
        padding-top: 30px;
        text-align: left;
        padding-left: 30px;
        color:#f7f7f7;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
    }
    
    #terminal-tittle-last {
        padding-top: 30px;
        text-align: left;
        padding-left: 30px;
        color:#f7f7f7;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        padding-bottom: 30px;
    }
    
    #terminal-info {
        padding-top: 5px;
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
        color:#e7d184;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        line-height: 25px;
    }
    
    #terminal-links {
        padding-top: 5px;
        text-align: left;
        width: 90%;
        color:#8A9EC5;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        line-height: 25px;
        text-decoration: none;
    }

    #terminal-links:hover {
        filter: none;
    }
    
    #terminal-cursor {
        height: 18px;
        padding: 0;
        margin: 0px;
        margin-bottom: -5px;
        position: relative;
        -webkit-animation: blink 1s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation: blink 1s;
        -moz-animation-iteration-count: infinite;
        -o-animation: blink 1s;
        -o-animation-iteration-count: infinite;
    }
    
    .red-button {
        background-color: #f96256;
        border: 1px solid #f65549;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-top: 7px;
        margin-left: 9px;
    }
    
    .yellow-button {
        background-color: #fdbc3d;
        border: 1px solid #ffb524;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 9px;
    }
    
    .green-button {
        background-color: #33c948;
        border: 1px solid #2dbb41;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 9px;
    }
    
    #projects {
        color: #525f7f;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 50px;
    }
    
    #project-cards {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 90%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 50px 100px rgba(50,50,93,.15),
                    0 15px 35px rgba(50,50,93,.2),
                    0 5px 15px rgba(0,0,0,.12);
        margin-bottom: 50px;
        overflow: hidden;
    }
    
    #projects-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
    }
    
    #projects-bg2 {
        width: 100%;
        height: 100%;
        position: absolute;
        filter: grayscale(100%);
        display: none;
    }
    
    #projects-img {
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    #projects-img2 {
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    #aurora-bg {
        background-color: #f9c5d1;
        background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    #project-content > h3 {
        margin-bottom: 30px;
        font-weight: lighter;
        font-size: 25px;
    }
    
    #project-content {
        padding: 40px;
        margin-left: 0%;
        /*position: absolute;*/
        text-align: justify;
        z-index: 1;
    }
    
    #projects-info {
        margin-bottom: 30px;
        line-height: 27px;
    }
    
    #projects-info > a {
        text-decoration: none;
        color: #718AB9;
    }

    #languages-wrapper {
        text-align: left;
    }

    #projects-info-first {
        margin-bottom: 10px;
        line-height: 27px;
    }
    
    #info-list {
        line-height: 27px;
    }
    
    #info-list-last {
        line-height: 27px;
        margin-bottom: 30px;
    }

    #languages {
        display: inline-block;
        border-radius: 4px;
        border: 2px solid #92eac0;
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: lighter;
        text-align: center;
    }
    
    #live-demo > a {
        margin-top: 20px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background: #718AB9;
        color: #fff;
        width: 107px;
        font-weight: bold;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    
    #check-it > a {
        margin-top: 20px;
        margin-right: 10px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background: #718AB9;
        color: #fff;
        width: 106px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }

    #check-it > a:active {
        filter: none;
        box-shadow: none;
    }
    
    #check-it > a:hover {
        filter: none;
        box-shadow: none;
        transform: none;
    }
    
    #live-demo > a:active {
        filter: none;
        box-shadow: none;
    }
    
    #live-demo > a:hover {
        filter: none;
        box-shadow: none;
        transform: none;
    }

    a#link2 {
        margin-top: 20px;
        margin-right: 10px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background-color: #FFFFFF;
        color: #718AB9;
        width: 106px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }
    
    #link2-icon {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        filter: invert(72%) sepia(3%) saturate(6371%) hue-rotate(188deg) brightness(76%) contrast(88%);
    }
    
    #new-tab {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        filter: brightness(0) invert(1);
    }
    
    .top {
        width: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        display: none;
    }
    
    footer > p {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
        font-size: 13px;
    }
    
    #code {
        width: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }
}

/*######################## Mobile Version 1 ##########################################*/

@media screen and (max-width: 412px) {

    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
    @import url("https://allfont.net/allfont.css?fonts=lucida-console");
    
    * {
        margin: 0;
        padding: 0;
        /*outline: 1px solid red;*/
        font-family: 'Lato', sans-serif;
    }

    body {
        /*To make scrollbar transparent*/
        /*overflow: overlay;*/
        scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
        -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
        overflow-y: scroll;
    }
    body::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
    }
    
    @-moz-document url-prefix() { /* Disable scrollbar Firefox */
        html {
            scrollbar-width: none;
        }
    }

    .progress-container {
        display: none;
    }
    
    .progress-bar {
        display: none;
    }
    
    #banner {
        padding: 0px;
        background-image: url("images/banner4.png");
        background-repeat: no-repeat;
        background-size: 140%;
        background-position: center;
        height: 325px;
    }
    
    #banner > h1 {
        margin-top: -65px;
        font-size: 72px;
        font-weight: 300;
    }
    
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-o-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        text-align: center;
    }
    
    #wrapper > p {
        text-align: center;
        border-right: solid 20px rgba(255, 255, 255, 1);
        white-space: nowrap;
        overflow: hidden;
        font-family: 'Consolas';
        font-size: 35px;
        color: rgba(255, 255, 255, 1);
        margin-top: 100px;
        animation: animated-text 1s steps(12, end) 1s 1 normal both, animated-cursor 900ms steps(12, end) infinite;
    }
    
    /* text animation */
    @keyframes animated-text {
        from {
          width: 0;
        }
        to {
          width: 630px;
        }
    }
    
    /* cursor animations */
    @keyframes animated-cursor {
        from {
          border-right-color: rgba(255, 255, 255, 1);
        }
        to {
          border-right-color: transparent;
        }
    }
    
    h1 > img {
        height: 72px;
        padding: 0;
        margin: 0px;
        margin-bottom: -14px;
        -webkit-animation: blink 1s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation: blink 1s;
        -moz-animation-iteration-count: infinite;
        -o-animation: blink 1s;
        -o-animation-iteration-count: infinite;
    }
    
    #box {
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        width: 90%;
        /*text-align: center;*/
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 50px 100px rgba(50,50,93,.15),
                    0 15px 35px rgba(50,50,93,.2),
                    0 5px 15px rgba(0,0,0,.12);
        height: 100%;
    }
    
    #header {
        width: auto;
        height: 28px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #E0DFE2;
    }
    
    #terminal-window {
        /*background-color: #5A5D7A;*/
        background-color: #272B33;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #terminal-tittle {
        padding-top: 30px;
        text-align: left;
        padding-left: 30px;
        color:#f7f7f7;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
    }
    
    #terminal-tittle-last {
        padding-top: 30px;
        text-align: left;
        padding-left: 30px;
        color:#f7f7f7;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        padding-bottom: 30px;
    }
    
    #terminal-info {
        padding-top: 5px;
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
        color:#e7d184;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        line-height: 25px;
    }
    
    #terminal-links {
        padding-top: 5px;
        text-align: left;
        width: 90%;
        color:#8A9EC5;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        line-height: 25px;
        text-decoration: none;
    }

    #terminal-links:hover {
        filter: none;
    }
    
    #terminal-cursor {
        height: 18px;
        padding: 0;
        margin: 0px;
        margin-bottom: -5px;
        position: relative;
        -webkit-animation: blink 1s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation: blink 1s;
        -moz-animation-iteration-count: infinite;
        -o-animation: blink 1s;
        -o-animation-iteration-count: infinite;
    }
    
    .red-button {
        background-color: #f96256;
        border: 1px solid #f65549;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-top: 7px;
        margin-left: 9px;
    }
    
    .yellow-button {
        background-color: #fdbc3d;
        border: 1px solid #ffb524;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 9px;
    }
    
    .green-button {
        background-color: #33c948;
        border: 1px solid #2dbb41;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 9px;
    }
    
    #projects {
        color: #525f7f;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 50px;
    }
    
    #project-cards {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 90%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 50px 100px rgba(50,50,93,.15),
                    0 15px 35px rgba(50,50,93,.2),
                    0 5px 15px rgba(0,0,0,.12);
        margin-bottom: 50px;
        overflow: hidden;
    }
    
    #projects-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
    }
    
    #projects-bg2 {
        width: 100%;
        height: 100%;
        position: absolute;
        filter: grayscale(100%);
        display: none;
    }
    
    #projects-img {
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    #projects-img2 {
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    #aurora-bg {
        background-color: #f9c5d1;
        background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    #project-content > h3 {
        margin-bottom: 30px;
        font-weight: lighter;
        font-size: 25px;
    }
    
    #project-content {
        padding: 40px;
        margin-left: 0%;
        /*position: absolute;*/
        text-align: justify;
        z-index: 1;
    }
    
    #projects-info {
        margin-bottom: 30px;
        line-height: 27px;
    }
    
    #projects-info > a {
        text-decoration: none;
        color: #718AB9;
    }

    #languages-wrapper {
        text-align: left;
    }

    #projects-info-first {
        margin-bottom: 10px;
        line-height: 27px;
    }
    
    #info-list {
        line-height: 27px;
    }
    
    #info-list-last {
        line-height: 27px;
        margin-bottom: 30px;
    }

    #languages {
        display: inline-block;
        border-radius: 4px;
        border: 2px solid #92eac0;
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: lighter;
        text-align: center;
    }
    
    #live-demo > a {
        margin-top: 20px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background: #718AB9;
        color: #fff;
        width: 92px;
        font-weight: bold;
        text-decoration: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        text-align: center;
    }

    #check-it {
        text-align: center;
    }
    
    #check-it > a {
        margin-top: 20px;
        margin-right: 10px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background: #718AB9;
        color: #fff;
        width: 90px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        font-size: 14px;
    }

    #check-it > a:active {
        filter: none;
        box-shadow: none;
    }
    
    #check-it > a:hover {
        filter: none;
        box-shadow: none;
        transform: none;
    }
    
    #live-demo > a:active {
        filter: none;
        box-shadow: none;
    }
    
    #live-demo > a:hover {
        filter: none;
        box-shadow: none;
        transform: none;
    }

    a#link2 {
        margin-top: 20px;
        margin-right: 10px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background-color: #FFFFFF;
        color: #718AB9;
        width: 90px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        font-size: 14px;
    }
    
    #link2-icon {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        filter: invert(72%) sepia(3%) saturate(6371%) hue-rotate(188deg) brightness(76%) contrast(88%);
    }
    
    #new-tab {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        filter: brightness(0) invert(1);
    }
    
    .top {
        width: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        display: none;
    }
    
    footer > p {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
        font-size: 13px;
    }
    
    #code {
        width: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }
}

/*######################## Mobile Version 2 ##########################################*/

@media screen and (max-width: 375px) {

    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
    @import url("https://allfont.net/allfont.css?fonts=lucida-console");
    
    * {
        margin: 0;
        padding: 0;
        /*outline: 1px solid red;*/
        font-family: 'Lato', sans-serif;
    }

    body {
        /*To make scrollbar transparent*/
        /*overflow: overlay;*/
        scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
        -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
        overflow-y: scroll;
    }
    body::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
    }
    
    @-moz-document url-prefix() { /* Disable scrollbar Firefox */
        html {
            scrollbar-width: none;
        }
    }

    .progress-container {
        display: none;
    }
    
    .progress-bar {
        display: none;
    }
    
    #banner {
        padding: 0px;
        background-image: url("images/banner4.png");
        background-repeat: no-repeat;
        background-size: 180%;
        background-position: center;
        height: 325px;
    }
    
    #banner > h1 {
        margin-top: -65px;
        font-size: 72px;
        font-weight: 300;
    }
    
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-o-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        text-align: center;
    }
    
    #wrapper > p {
        text-align: center;
        border-right: solid 20px rgba(255, 255, 255, 1);
        white-space: nowrap;
        overflow: hidden;
        font-family: 'Consolas';
        font-size: 30px;
        color: rgba(255, 255, 255, 1);
        margin-top: 100px;
        animation: animated-text 1s steps(12, end) 1s 1 normal both, animated-cursor 900ms steps(12, end) infinite;
    }
    
    /* text animation */
    @keyframes animated-text {
        from {
          width: 0;
        }
        to {
          width: 630px;
        }
    }
    
    /* cursor animations */
    @keyframes animated-cursor {
        from {
          border-right-color: rgba(255, 255, 255, 1);
        }
        to {
          border-right-color: transparent;
        }
    }
    
    h1 > img {
        height: 72px;
        padding: 0;
        margin: 0px;
        margin-bottom: -14px;
        -webkit-animation: blink 1s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation: blink 1s;
        -moz-animation-iteration-count: infinite;
        -o-animation: blink 1s;
        -o-animation-iteration-count: infinite;
    }
    
    #box {
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        width: 90%;
        /*text-align: center;*/
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 50px 100px rgba(50,50,93,.15),
                    0 15px 35px rgba(50,50,93,.2),
                    0 5px 15px rgba(0,0,0,.12);
        height: 100%;
    }
    
    #header {
        width: auto;
        height: 28px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #E0DFE2;
    }
    
    #terminal-window {
        /*background-color: #5A5D7A;*/
        background-color: #272B33;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #terminal-tittle {
        padding-top: 30px;
        text-align: left;
        padding-left: 15px;
        color:#f7f7f7;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
    }
    
    #terminal-tittle-last {
        padding-top: 30px;
        text-align: left;
        padding-left: 15px;
        color:#f7f7f7;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        padding-bottom: 30px;
    }
    
    #terminal-info {
        padding-top: 5px;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        color:#e7d184;
        font-size: 16px;
        font-family: 'Lucida Console', arial;
        line-height: 25px;
    }
    
    #terminal-links {
        padding-top: 5px;
        text-align: left;
        width: 90%;
        color:#8A9EC5;
        font-size: 14px;
        font-family: 'Lucida Console', arial;
        line-height: 25px;
        text-decoration: none;
    }

    #terminal-links:hover {
        filter: none;
    }
    
    #terminal-cursor {
        height: 18px;
        padding: 0;
        margin: 0px;
        margin-bottom: -5px;
        position: relative;
        -webkit-animation: blink 1s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation: blink 1s;
        -moz-animation-iteration-count: infinite;
        -o-animation: blink 1s;
        -o-animation-iteration-count: infinite;
    }
    
    .red-button {
        background-color: #f96256;
        border: 1px solid #f65549;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-top: 7px;
        margin-left: 9px;
    }
    
    .yellow-button {
        background-color: #fdbc3d;
        border: 1px solid #ffb524;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 9px;
    }
    
    .green-button {
        background-color: #33c948;
        border: 1px solid #2dbb41;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 9px;
    }
    
    #projects {
        color: #525f7f;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 50px;
    }
    
    #project-cards {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 90%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 50px 100px rgba(50,50,93,.15),
                    0 15px 35px rgba(50,50,93,.2),
                    0 5px 15px rgba(0,0,0,.12);
        margin-bottom: 50px;
        overflow: hidden;
    }
    
    #projects-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
    }
    
    #projects-bg2 {
        width: 100%;
        height: 100%;
        position: absolute;
        filter: grayscale(100%);
        display: none;
    }
    
    #projects-img {
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    #projects-img2 {
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    #aurora-bg {
        background-color: #f9c5d1;
        background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
        position: absolute;
        width: 40%;
        height: 100%;
        display: inline-block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }
    
    #project-content > h3 {
        margin-bottom: 30px;
        font-weight: lighter;
        font-size: 25px;
        text-align: center;
    }
    
    #project-content {
        padding: 40px;
        margin-left: 0%;
        /*position: absolute;*/
        text-align: justify;
        z-index: 1;
    }
    
    #projects-info {
        margin-bottom: 30px;
        line-height: 27px;
    }
    
    #projects-info > a {
        text-decoration: none;
        color: #718AB9;
    }

    #languages-wrapper {
        text-align: center;
    }

    #projects-info-first {
        margin-bottom: 10px;
        line-height: 27px;
    }
    
    #info-list {
        line-height: 27px;
    }
    
    #info-list-last {
        line-height: 27px;
        margin-bottom: 30px;
    }

    #languages {
        display: inline-block;
        border-radius: 4px;
        border: 2px solid #92eac0;
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: lighter;
        text-align: center;
    }
    
    #live-demo > a {
        margin-top: 20px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background: #718AB9;
        color: #fff;
        width: 92px;
        font-weight: bold;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    
    #check-it > a {
        margin-top: 20px;
        margin-right: 10px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background: #718AB9;
        color: #fff;
        width: 90px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }

    #check-it > a:active {
        filter: none;
        box-shadow: none;
    }
    
    #check-it > a:hover {
        filter: none;
        box-shadow: none;
        transform: none;
    }
    
    #live-demo > a:active {
        filter: none;
        box-shadow: none;
    }
    
    #live-demo > a:hover {
        filter: none;
        box-shadow: none;
        transform: none;
    }

    a#link2 {
        margin-top: 20px;
        margin-right: 10px;
        padding: 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),
                    0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        background-color: #FFFFFF;
        color: #718AB9;
        width: 90px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }
    
    #link2-icon {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        filter: invert(72%) sepia(3%) saturate(6371%) hue-rotate(188deg) brightness(76%) contrast(88%);
    }
    
    #new-tab {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        filter: brightness(0) invert(1);
    }
    
    .top {
        width: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        display: none;
    }
    
    footer > p {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
        font-size: 13px;
    }
    
    #code {
        width: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }
}